{% extends "base.html" %}
{% load static %}

{% block title %}
Incuman - The Digital Marketplace
{% endblock %}

{% block content %}
<section class="jumbotron text-center m-0">
  <div class="container">
      <h1>{{ category.title }}</h1>
      {{ category.description }}
      <p class="lead mt4">
        <a href="{% url 'buyandsell-create' %}" class="btn btn-lg btn-success btn-icon mt-3 mb-sm-0">
          Start Listing Here
        </a>
      </p>
  </div>
</section>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="mx-auto mb4">
        <h1 class="text-center">Listings</h1>
    </div>
    <div class="row justify-content-center ma4">
        {% include "includes/search.html" %}
    </div>
    <div class="row">
        <div class="card" style="width: 100%;">
            <div class="card-body topborder">
                <ul class="list-group list-group-flush">
                    {% for posting in postings %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-6 col-md-4">
                                    <div class="ma4"><h3><a href="{% url 'buyandsell-posting' pk=posting.pk %}" class="text-dark">{{ posting.title }}</a></h3><small class="text-success">({{ posting.city }}, {{ posting.country }})</small></div>
                                    <h6 class="ma4 text-muted">{{ posting.description|truncatewords:15 }}</h6>
                                </div>
                                <div class="col-12 col-md-8">
                                    <div class="col" style="margin-left: 80%;">
                                        <div class="row ma4">
                                            <span class="badge badge-pill badge-success" style="width: 100px;"><b>${{ posting.price }}</b></span>
                                        </div>
                                        <div class="row ma4 text-success">
                                            <b>Seller Rating: {{ posting.user.profile.get_renter_rating.rating }}<i class="fas fa-star"></i></b> ({{ posting.user.profile.get_renter_rating.amount }})
                                        </div>
                                        <div class="row ma4">
                                            <a class="btn btn-success" style="color: white;" href="{% url 'buyandsell-posting' pk=posting.pk %}">
                                                <b>See Listing</b>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <hr>
            {% if postings.has_other_pages %}
              <ul class="pagination ml-4">
                {% if postings.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ postings.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
                {% endif %}
                {% for i in postings.paginator.page_range %}
                  {% if postings.number == i %}
                    <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if postings.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ postings.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
        </div>
    </div>
  </div>
</div>
{% endblock %}