{% extends "base.html" %}

{% block title %}
    {{posting.city}} | {{ posting.title }}
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="container mt-3 mb-5 box-shadow">
        <div class="row">
            <div class="card col-md-12 topborder">
                <div id="carouselExampleInterval" class="carousel slide mb-5" data-ride="carousel">
                    {% if posting.get_gallery %}
                    <div class="carousel-inner">
                            {% for image in posting.get_gallery %}
                            <div class="carousel-item {% if forloop.first %} active {% endif %}" data-interval="10000" style="height: 500px;">
                                <img src="{{ image.image.url }}" class="posting-header-image fixed-height" alt="{{ posting.title }}">
                            </div>
                            {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                    {% endif %}
                </div>
                <div class="row mb4">
                    <div class="col-md-8 col-sm-12">
                        <div class="container">
                            <div class="row">
                                <h2 class="mr-auto">{{ posting.title }}</h2>
                            </div>
                        </div>
                        <p>{{ posting.city }}, {{ posting.area }}</p>
                        <h2>Description</h2>
                        <small>{{ posting.description }}</small>
                        <div class="card mb-3 mt-3">
                            <div class="card-header">
                                Lister
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2">
                                        <img src="{{ posting.user.profile.profile_pic.url }}" width="50" height="50" class="rounded-circle" href="#" alt="Profile picture"/>
                                    </div>
                                    <div class="col-6">
                                        <div class="row">{{ posting.user.username }}</div>
                                        <div class="row text-muted">Joined in {{ posting.user.date_joined|date }}</div>
                                        <div class="row text-success"><b>{{ posting.user.profile.get_renter_rating.rating }}<i class="fas fa-star"> ({{ posting.user.profile.get_renter_rating.amount }})</i></b></div>
                                    </div>
                                    <div class="col-3">
                                        <a href="{% url 'listing-user' username=posting.user.username %}" class="btn btn-outline-success">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="card p-4">
                            <h3>${{ posting.price }}</h3>
                            <hr>
                            <h5>Details:</h5>
                            <ul>
                                <li>Amount: {{ posting.amount }}</li>
                                <li>Condition: {{ posting.condition }}</li>
                            </ul>
                            <div class="row no-gutters p-2 mb-3">
                                {% if user.profile.is_notverified %}
                                    <a href="{% url 'user-verification' %}"><button class="btn btn-outline-success">Verify Profile</button></a>
                                {% elif user.profile.is_verification_processing %}
                                    <h5>Verification Status  <span class="badge badge-secondary">Processing</span></h5>
                                {% elif user == posting.user %}
                                    <a href="{% url 'buyandsell-application' pk=posting.pk %}"><button class="btn btn-success btn-lg btn-block">See Applicants</button></a>
                                {% elif request.user.is_authenticated %}
                                <button class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#staticBackdrop">Make Offer</button>
                                <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">When do you want this posting?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>

                                            <form method="POST" id="offerform" class="p-3">
                                                {% csrf_token %}
                                                {{ offer_form|crispy }} <h5 class="mx-auto">Asking Price: ${{ posting.price }}</h5>
                                                <div class="form-group text-center">
                                                    <button class="btn btn-outline-success" type="submit">Apply</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                    <a class="btn btn-lg btn-block btn-success" href="{% url 'login' %}">Log In To Offer</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                {% include "rentals/social_share.html" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}