beautifulsoup4==4.9.1
boto3==1.13.19
datetime==4.3
Django==2.1.1
django-crispy-forms==1.9.1
django-meta==1.7.0
django-resized==0.3.11
django-robots==4.0
django-storages==1.9.1
Pillow==7.1.2
psycopg2-binary==2.8.3
python-decouple==3.3
pytz==2020.1
python-resize-image==1.1.19
stripe==2.48.0