{% extends '../dashboardbase.html' %}
{% load static %}

<!-- Nav3 and Screen -->
{% block dashboardbase_content %}


<!-- Nav3 --->
    <div class="dashnav3">
      <div>
          <!-- Common in Landlord , Tasker and Tenant -->

          <div class="dropdown dash-type">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             {% if dashboard_type == 'landlord' %}
                 Landlord
             {% elif dashboard_type == 'tenant' %}
                Tenant
             {% elif dashboard_type == 'tasker' %}
                Tasker
             {% elif dashboard_type == 'rentanything' %}
                Rent Anything
             {% elif dashboard_type == 'buyandsell' %}
                Buy & Sell
             {% elif dashboard_type == 'deliveranything' %}
                Deliver Anything
             {% endif %}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class='dropdown-item' href="{% url 'dashboard' %}"> Landlord </a>
               <a class='dropdown-item'  href="{% url 'dashboard_tenant' %}"> Tenant </a>
               <a class='dropdown-item'  href="{% url 'dashboard_tasker' %}"> Tasker </a>
               <a class='dropdown-item'  href="{% url 'dashboard_rentanything' %}"> Rent Anything </a>
               <a class='dropdown-item'  href="{% url 'dashboard_buyandsell' %}"> Buy & Sell </a>
               <a class='dropdown-item'  href="{% url 'dashboard_deliveranything' %}"> Deliver Anything </a>
            </div>
          </div>



      </div>
      <div class="dn3_sub" style='width:180px'>
            <div class='dash-font1'> Current Subscription </div>
            <div>
                      <div class='dash-font2'> {{ membership_type }} </div>
                      <a href="{% url 'user-membership' %}"  class="btn btn-primary">Upgrade </a>
            </div>
      </div>
      <div>
          <!--Varies -->
         {% if dashboard_type == 'landlord' %}
              {% include "dashboards/dash/dashnav3/dashnav3-landlord1.html" %}
         {% elif dashboard_type == 'tenant' %}
              {% include "dashboards/dash/dashnav3/dashnav3-tenant1.html" %}
         {% elif dashboard_type == 'tasker' %}
              {% include "dashboards/dash/dashnav3/dashnav3-tasker1.html" %}
         {% elif dashboard_type == 'rentanything' %}
             {% include "dashboards/dash/dashnav3/dashnav3-rentanything1.html" %}
         {% elif dashboard_type == 'buyandsell' %}
             {% include "dashboards/dash/dashnav3/dashnav3-buyandsell1.html" %}
         {% elif dashboard_type == 'deliveranything' %}
             {% include "dashboards/dash/dashnav3/dashnav3-deliveranything1.html" %}
         {% endif %}
      </div>


    </div>

<!-- Screen........  -->
    <div class="dm-content">
            {% block screen %} {% endblock %}
    </div>

{% endblock %}
