{% extends "base.html" %}
{% load static %}


{% block title %}
Incuman | Finance
{% endblock %}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/a.css'%}">
    <title>React App</title>
</head>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-sm-12">
            <div class="ma8">
                <h4 class="text-success">
                    <b><i class="fas fa-money-bill-wave text-success home-icons" style="font-size: 35px;"></i> Mortgage</b>
                </h4>
                <p>With incuman a consumer can get connected with a financial institution/agent from
                    anywhere and can get a quick approval. To Buy there Dream Home.</p>
            </div>
            <div style="margin-top: 8%; margin-left: 8%;">
                <h4 class="text-success">
                    <b><i class="fas fa-money-bill-wave text-success home-icons" style="font-size: 35px;"></i>
                        Insurance</b>
                </h4>
                <p>We can make a quick set up and get
                    connected with an appropriate financial institution/agent, to get perfect quote for your insurance.
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="text-center" style="margin-left: 20%; margin-top: 20%; margin-bottom: 20%; margin-right: 20%;">
                <h1 class="text-success" style="margin-bottom: 20%;">
                    <b>incuman Finance</b>
                </h1>
                <div style="margin-top: 15%;">
                    <a href="#apply" class="btn btn-lg btn-block btn-success text-center">Get Quotes</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="root" style="margin-top:50px"></div>

<script type="text/javascript" src="{% static 'js/a.js' %}"></script>
<script type="text/javascript" src="{% static 'js/b.js' %}"></script>
<script type="text/javascript" src="{% static 'js/c.js' %}"></script>
<script type="text/javascript" src="{% static 'js/d.js' %}"></script>
{% endblock content %}