{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  About us - rntdel
{% endblock %}

{% block content %}
<div class="bg-light">
  <section class="jumbotron text-center m-0">
    <div class="container">
        <h1> About Us </h1>
        <div class="lead text-muted"> At rntdel our goal is to delight our customers with our unique and innovative services. We are a digital marketplace.</div>
    </div>

  </section>

  <div class='container au-r2'>

    <div class='au-sec1'>
        <div>
           <div class='au-sec-but1'> Rent Anything </div>
        </div>
        <div>
            Our services include renting of all kinds of stuff which you can imagine. Say if you need some tools and a
            ladder for some home improvement, you can rent it from our website for cheap instead of buying it. If
            you have some unused stuff lying around in your house garage or storage you can put it for good use by
            renting it out to others and generating passive income.
        </div>
    </div>


    <div class='au-sec2'>
        <div>
           <div class='au-sec-but1'> Buy and Sell </div>
        </div>
        <div>
          Our buy and sell marketplace are suitable for buying anything under the sun. Our catalogue us vast and
          well organized and we are the only marketplace which offers vetted products. Hence, our customers do
          not have to worry about dubious products and deals.
        </div>
    </div>


    <div class='au-sec1'>
        <div>
           <div class='au-sec-but1'> Get out of lease </div>
        </div>
        <div>
          This is a unique service for folks who face any contingencies due to which they are forced to break the
          rental lease with their landlord. For a small monthly fee, we can help you get out of your lease without
          facing any legal consequences from the landlord.
        </div>
    </div>


    <div class='au-sec2'>
        <div>
           <div class='au-sec-but1'> Delivery </div>
        </div>
        <div>
          We also offer delivery of all kinds of stuff to your home/office or wherever. Our delivery service is
          extremely convenient and fast. Whether you have bought something from our marketplace or any other
          marketplace you can use our delivery service to get the stuff delivered right where you need it.
        </div>
    </div>


    <div class='au-sec3'>
        <div> Meet Our team </div>

        <div>
            <div>
                <div> Raj Mukherjee</div>
                <div> Founder <div class='au-span1'> & </div> CEO </div>
             </div>

             <div class='au-divider1'> </div>

             <div>
                <div> Samar Deshpande </div>
                <div> HR <div class='au-span1'> & </div> Marketing </div>
            </div>

            <div class='au-divider1'> </div>

            <div>
              <div> Tarek Ahmed </div>
              <div> CTO </div>
            </div>

            <div class='au-divider1'> </div>

            <div>
              <div> Vikramjit Singh </div>
              <div> Tech Adviser <div class='au-span1'> & </div> Web-Developer </div>
            </div>

            <div class='au-divider1'> </div>

            <div>
              <div> Diljodh Nahal </div>
              <div> Web-Developer </div>
           </div>
        </div>
    </div>
    </div>
</div>
{% endblock content %}
