{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="card col-md-10 col-md-offset-1 p-5">
            <div class="contact-content row">
                <div class="col-sm-4">
                    <div class="contact-info">
                        <div class="contact-info-single">
                            <h6 class="font-600"><span><i class="icon-envelope"></i></span>Our Email :</h6>
                            <p>admin@meetquoteshack.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="contact-info">
                        <div class="contact-info-single">
                            <h6 class="font-600"><span><i class="icon-phone"></i></span>Our Phone :</h6>
                            <p>+1-778-382-9919</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="contact-info">
                        <div class="contact-info-single">
                            <h6 class="font-600"><span><i class="icon-map"></i></span>Our Address :</h6>
                            <p>777 Hornby Street Suite 600<br> Vancouver, B.C. V6Z 1S4</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}