{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row section-margin">
        <div class="col-xl-7 mx-auto text-center">
            <h2 class="mb-5"><i class="fas fa-arrow-right text-primary"></i>Hand your lease to the experts.</h2>
            <h2 class="mb-5"><i class="fas fa-arrow-right text-primary"></i>We get someone else paying the rent so you can leave as soon as you need to.</h2>
            <button class="btn btn-warning"><a href="#more">Want to know more?</a></button>
            <hr>

            <div id="more">
                <h2 class="mb-5">Tell us about your lease</h2>
                <h6>You add the basic details about your lease, like unit amenities, landlord expectations, and time remaining.</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Grumpy landlord approved</li>
                    <li class="list-group-item">Tricky leases, handled</li>
                    <li class="list-group-item">Easy key transfer</li>
                    <li class="list-group-item">Contactless viewings</li>
                    <li class="list-group-item">We're always here to help</li>
                  </ul>
            </div>
            <hr>
            <div class="container">
                Ready to try us?
                <div class="mx-auto text-center my-5">
                    <a href="{% url 'listing-create' %}" class="btn btn-lg btn-warning">Get Started!</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
