{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row section-margin">
        <div class="col-xl-7 mx-auto text-center">
            <h2 class="mb-5"><i class="fas fa-arrow-right text-primary"></i>Hand your lease to specialist</h2>
            <h2 class="mb-5"><i class="fas fa-arrow-right text-primary"></i>We will place someone else paying the rent so that you can leave as soon as you need to.</h2>
            <a href="#more"><button class="btn btn-warning">What else to know?</button></a>
            <hr>

            <div id="more">
                <h2 class="mb-5">Tell us about your lease</h2>
                <h6>Just add basic details about your lease, like unit amenities, landlord intentions and time left.</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Crotchety Landlords Approval</li>
                    <li class="list-group-item">Complex lease handling</li>
                    <li class="list-group-item">Easy key transfer</li>
                    <li class="list-group-item">Contactless viewings</li>
                    <li class="list-group-item">QuoteShack is always here to help</li>
                  </ul>
            </div>
            <hr>
            <div class="container">
                Just try us
                <div class="mx-auto text-center my-5">
                    <a href="{% url 'signup' %}" class="btn btn-lg btn-warning">Get Started!</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}