{% extends "base.html" %}
{% load crispy_forms_tags %}    

{% block content %}
<div class="text-white text-center bg">
    <div class="container">
      <div class="row section-margin">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-5">Co-living the easiest and fastest way to sublet or move out of your lease and its completely <span class="text-warning">free</span> for listers</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto searchBar">
          <form method='GET' action="{% url 'listing' %}">
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0"> 
                <input type='text' class="form-control form-control-lg" name='q' placeholder='Search Listings' value='{{ request.GET.q }}'>
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
<section class="text-center section-margin">
  <div class="container">
    <div class="row small-margin">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-5">Move out of your lease for just $15 per month</h2>
        <a href="{% url 'for-leaseholders' %}" class="btn btn-lg btn-warning">Click to start</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
            <i class="fas fa-fingerprint text-primary home-icons"></i>
          <h3>Tenant Verification</h3>
          <p class="lead mb-0">We will do the tenant's credit check, criminal record check, and others upon request.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
            <i class="fas fa-shield-alt text-primary home-icons"></i>
          <h3>Flexible security deposit</h3>
          <p class="lead mb-0">We will take responsibility of security deposit for both landlord and tenant.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto mb-0 mb-lg-3">
            <i class="fas fa-file-contract text-primary home-icons"></i>
          <h3>Paperless agreement</h3>
          <p class="lead mb-0">Go paperless and save the environment. Landlord will make the paperless agreement and we will take care of the rest.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-center section-margin">
  <div class="container">
    <div class="row small-margin">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-5">We've got what you need!</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
            <i class="fas fa-exchange-alt text-primary home-icons"></i>
          <h3>Automatic rent payments</h3>
          <p class="lead mb-0">Rent paid directly into your bank account at the same time each month.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
            <i class="far fa-thumbs-up text-primary home-icons"></i>
          <h3>Landlord approved</h3>
          <p class="lead mb-0">Create your listing and accept the most qualified tenant.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto mb-0 mb-lg-3">
            <i class="fas fa-clock text-primary home-icons"></i>
          <h3>Timely rent</h3>
          <p class="lead mb-0">On time rent every month with no extra charge.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="mx-auto text-center my-5">
          <a href="{% url 'signup' %}" class="btn btn-lg btn-warning">Get Started!</a>
      </div>
    </div>
  </div>
</section>
{% endblock content %}