{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
Incuman - The Digital Marketplace
{% endblock %}

{% block content %}
<div class="bg-light">
<section class="text-white text-center bg">
    <div class="container">
      <div class="row section-margin">
        <div class="col-xl-9 mx-auto mb4">
          <h2 class="mb-2">Whatever You Want, Whenever You Want,<br><span class="text-center">Wherever You Want</span></h2>
          <div class="col-md-12 col-lg-12 col-xl-12 mx-auto mt4">
              <form method='GET'>
                {% csrf_token %}
                <div class="form-row">
                  <div class="col-12 col-md-9 mb-2 mb-md-0">
                    <input type='text' class="form-control form-control-lg" name='q' placeholder='&#xF002; Search Listings' value='{{ request.GET.q }}' style="font-family: Arial, FontAwesome;">
                  </div>
                  <div class="col-12 col-md-3">
                    <button type="submit" class="btn btn-block btn-lg btn-success">Search</button>
                  </div>
                </div>
              </form>
              <div>
                    <a href="#" class="btn btn-lg btn-success" style="margin-top: 15%;" data-toggle="modal" data-target="#staticBackdrop2">What You Are Looking For?</a><br>
              </div>
              <div>
                    <a href="{% url 'deliver-anything' %}" class="btn btn-lg btn-success" style="margin-top: 5%;">Need Something Delivered?</a>
              </div>
              <div>
                    <a href="{% url 'business-signup' %}" style="margin-top: 5%;" class="btn btn-lg btn-success">Start Your Own Online store</a>
              </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="bg-light pl-2 pr-2">
  <div class="container">
      <div class="row ma4">
          <div class="mx-auto text-center">
              <h1 class="text-success"><b>Deliver Anything to Anywhere</b></h1>
              <h4 class="mt4">
                  <p>
                      Start using our delivery & pick-up service, which will help you deliver anything to anywhere. Our service will cover delivery or pickup of used products, new products, orders from restaurants/groceries and courier from business-to-business. This service is only available in Vancouver, Burnaby, Surrey & Richmond. Whatever you want, whenever you want, wherever you want.
                  </p>
              </h4>
          </div>
      </div>
      <div class="row mb4">
          <div class="mx-auto text-center">
              <a href="{% url 'deliver-anything' %}" class="btn btn-lg btn-success">Let's Get Started</a>
          </div>
      </div>
      <div class="row mb4">
          <div class="mx-auto text-center">
              <a href="{% url 'business-signup' %}" class="btn btn-lg btn-success">Register Your Businesses</a>
          </div>
      </div>
      <div class="row mb4">
          <div class="mx-auto text-center">
              <a href="{% url 'tasker-signup' %}" class="btn btn-lg btn-success">Become A Driver</a>
          </div>
      </div>
  </div>
</section>
<section class="gbground pl-2 pr-2">
  <div class="container">
      <div class="row ma4">
          <div class="mx-auto text-center">
              <h1 class="text-success"><b>Retail</b></h1>
              <h4 class="mt-4">
                  <p>
                      Perfect for Small/Medium/Home Businesses with Delivery Service. Great for your eCommerce.
                  </p>
              </h4>
              <h4 class="mt4">
                  <p>
                      Our platform will allow business-to-person, business-to-business, or person-to-person online sales and marketing. Create your own online store and start selling your products and use oru delivery/pick-up service to delivery/pickup anything from anywhere.
                  </p>
              </h4>
          </div>
      </div>
      <div class="row mb4">
          <div class="mx-auto text-center">
              <a href="{% url 'business-signup' %}" class="btn btn-lg btn-success">Start Your Own Online Store</a>
          </div>
      </div>
      <div class="row mb4">
          <div class="mx-auto text-center">
              <a href="{% url 'businesses-home' %}" class="btn btn-lg btn-success">Start Shopping Now</a>
          </div>
      </div>
  </div>
</section>
<section class="bg-white pl-2 pr-2">
    <div class="container">
        <div class="mx-auto text-center ma4">
            <h3 class="text-success">What Are You Looking For?</h3>
            <div class="mx-auto text-center" style="margin-bottom:6%;">
               <a href="#" class="btn btn-lg btn-success mt3" data-toggle="modal" data-target="#staticBackdrop2">Let Us Help You Find It</a>
            </div>
            <h3 class="text-success">Newsletter</h3>
            <h5 class="mt3">Subscribe to our Newsletter to stay up to date.</h5>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto mt3">
              <form method='POST' action="{% url 'newsletter-signup' %}">
                {% csrf_token %}
                <div class="form-row">
                  <div class="col-12 col-md-9 mb-2 mb-md-0">
                    <input type='email' class="form-control form-control-lg" name='newsletter' placeholder='your@email.com'>
                  </div>
                  <div class="col-12 col-md-3">
                    <button type="submit" class="btn btn-block btn-lg btn-success">Subscribe</button>
                  </div>
                </div>
              </form>
            </div>
        </div>
    </div>
</section>
</div>
{% endblock content %}
