{% extends "base.html" %}
{% load crispy_forms_tags %}    

{% block title %}
  Coliving | Login 
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-sm-center">
            <div class="col-sm-10 col-md-6">
                <div class="card m-4 p-4 box-shadow topborder">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Log In</legend>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-success" type="submit">Login</button>
                            <small class="text-muted ml-2">
                                <a href="{% url 'password_reset' %}">Forgot Password?</a>
                            </small>
                        </div>
                    </form>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Need An Account? <a class="ml-2" href="{% url 'signup' %}">Sign Up Now</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}