{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row mt-2 mb-5">
    <div class="col-md-3 card p-3 m-3 box-shadow">
      <ul>
        <li><a href="{% url 'profile-detail' %}">Personal Details</a></li>
        <li><a href="{% url 'profile-membership' %}">Account Details</a></li>
        <li><a href="{% url 'profile-lease' %}">My Leases</a></li>
      </ul>
    </div>
    <div class="col-md-6">
    {% for house in houses%}
      <div class="card p-3 m-3 box-shadow">
        <a href="{% url 'listing-detail' house.slug %}">
          {{ house.title }}
        </a>
      </div>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
