{% extends './base.html' %}


{% block screen_content %}
<div class='land-app-pane'>
  <div>
        <div class='dash-font3'> Applications </div>
  </div>

  <div>
  {% for posting in postings %}
      <div class='las'>

            <div>
               <div style="color:black; font-size:18px;"> {{ posting }} </div>
               <div> {{ posting.description|truncatewords:12 }} </div>
               <a class="btn btn-info" style="color:white" href="{% url 'buyandsell-posting' pk=posting.pk %}">View </a>
            </div>

            <div class='las-apps'>
                {% if posting.applications.all|length > 0 %}
                       <div class='dash-font2'> Applications </div>
                       {% for application in posting.applications.all %}
                         <div class="card mb-3" style="max-width: 540px; color: black;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="{{ application.applicant.profile.profile_pic.url }}" class="card-img" style="max-height: 250px;" alt="Profile Picture">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-header">
                                        <div class="row no-gutters">
                                            <h5 class="card-title mr-auto">{{ application.applicant.username }}</h5>
                                            <a href="{% url 'buyandsell-accept' postingpk=posting.pk offerpk=application.pk %}" class="btn btn-outline-success" style="margin-right:5%;">Accept</a>
                                            {% if application.applicant.profile.verified %}
                                            <i class="fas fa-check text-center text-success mb-2"></i>
                                            {% else %}
                                            <i class="far fa-times-circle text-danger mb-2"></i>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text"><small>Email: {{ application.applicant.email }}</small></p>
                                        <p class="card-text"><small>Phone: {{ application.applicant.profile.mobile_number }}</small></p>
                                        <p class="card-text"><small>Rating: {{ application.applicant.profile.get_rentee_rating.rating }}<i class="fas fa-star"></i> ({{ application.profile.get_rentee_rating.amount }})</small></p>
                                        <p class="card-text"><small>Offer: ${{ application.offering_price }}</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                       {% endfor %}
                {% else %}
                      <div style="color: black;"> No Applications Yet </div>
                {% endif %}
            </div>
      </div>
  {% endfor %}
  </div>

</div>

{% endblock %}
