{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
  Coliving | Dashboard
{% endblock %}

{% block content %}

<div class='dashboard-container'>

    <div class='dc-box'>

          <!-- Mobile (Nav1 and Nav2) ----------------------------------------------------------------------------------------------------------------------------------->
          <div class="dashmobnav1 dash-mob1">
                    <nav class="navbar">
                        <div>
                          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                            <img style="width:20px; height:20px"   src="{% static 'img/menu.svg' %}">
                            </button>
                        </div>

                        <div>
                          <form class="dash-sbar" action="#">
                                <button type="submit"><i style="color:white" class="fa fa-search"></i></button>
                                <input type="text" placeholder="Search.." name="search">
                          </form>
                        </div>

                        <!--
                        <div>
                          <div class="dash-profile">
                              <div type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{% static 'img/profile.png' %}"><span class="caret"></span>
                              </div>

                              <div style="margin-left:75%; margin-top: -5px" class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                              </div>
                          </div>
                         </div>
                        -->
                      </nav>
                      {{ dash_active1 }}

                      <!-- Mobile (Nav1 Nav2) Content ------------------------------------------------------------------------------------------------------------------------------------->
                      <div class="collapse"  id="navbarToggleExternalContent" style="background-color:#e3e3e3;">
                          <div class="dashmobnav1-content">

                              {% if dash_active1 == 'dash' %}
                                  <a  style='background-color:#9100c2' href="{% url 'dashboard' %}">
                                     <div> <img  src="{% static 'img/dashboard.svg' %}"> </div>
                                     <div> Dashboard </div>
                                  </a>

                              {% else %}
                                  <a  href="{% url 'dashboard' %}">
                                     <div> <img  src="{% static 'img/dashboard.svg' %}"> </div>
                                     <div> Dashboard </div>
                                  </a>
                              {% endif %}


                              {% if dash_active1 == 'chats' %}
                                  <a style='background-color:#9100c2' href="{% url 'chats' %}">
                                     <div>  <img  src="{% static 'img/chat.svg' %}">  </div>
                                     <div> Chats </div>
                                   </a>
                              {% else %}
                                   <a href="{% url 'chats' %}">
                                      <div>  <img  src="{% static 'img/chat.svg' %}">  </div>
                                      <div> Chats </div>
                                    </a>
                              {% endif %}

                              {% if dash_active1 == 'email' %}
                                    <a style='background-color:#9100c2' href="{% url 'email' %}">
                                       <div>  <img  src="{% static 'img/email.svg' %}">  </div>
                                       <div> Email </div>
                                    </a>
                                {% else %}
                                    <a href="{% url 'email' %}">
                                       <div>  <img  src="{% static 'img/email.svg' %}">  </div>
                                       <div> Email </div>
                                    </a>
                                {% endif %}


                              {% if dash_active1 == 'social' %}
                                    <a style='background-color:#9100c2' href="{% url 'social' %}">
                                       <div>  <img  src="{% static 'img/instagram.svg' %}">  </div>
                                       <div> Social Media </div>
                                     </a>
                              {% else %}
                                    <a href="{% url 'social' %}">
                                       <div>  <img  src="{% static 'img/instagram.svg' %}">  </div>
                                       <div> Social Media </div>
                                     </a>
                              {% endif %}
                          </div>
                      </div>
          </div>


          <!-- Desktop Nav1---------------------------------------------------------------------------------------------------------------------------------------->
          <div class='dcb-r1 dashnav1 dash-desk1'>
                        <div>
                              <div> <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-flag-fill" fill="white" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001"/>
                                  </svg>
                              </div>
                              <form class="dash-sbar" action="#">
                                    <button type="submit"><i style="color:white" class="fa fa-search"></i></button>
                                    <input type="text" placeholder="Search.." name="search">
                              </form>
                        </div>

                        <!--
                        <div class='dashnav1-right'>
                          <div class="dash-profile">
                              <div type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{% static 'img/profile.png' %}"><span class="caret"></span>
                              </div>

                              <div style="margin-right:100px" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                              </div>
                          </div>
                        </div>
                        -->
          </div>

          <div class='dcb-r2'>
                         <!-- Nav2 Desktop -->
                         <div class="dashnav2 dash-desk1">

                                 {% if dash_active1 == 'dash' %}
                                      <a class='dashnav2_active' href="{% url 'dashboard' %}">
                                         <div> <img  src="{% static 'img/dashboard_active.svg' %}"> </div>
                                         <div> Dashboard </div>
                                       </a>
                                  {% else %}
                                      <a href="{% url 'dashboard' %}">
                                         <div> <img  src="{% static 'img/dashboard.svg' %}"> </div>
                                         <div> Dashboard </div>
                                       </a>
                                  {% endif %}

                                  {% if dash_active1 == 'chats' %}
                                       <a class='dashnav2_active'  href="{% url 'chats' %}">
                                          <div>  <img  src="{% static 'img/chat.svg' %}">  </div>
                                          <div> Chats </div>
                                        </a>
                                  {% else %}
                                      <a href="{% url 'chats' %}">
                                         <div>  <img  src="{% static 'img/chat.svg' %}">  </div>
                                         <div> Chats </div>
                                       </a>
                                  {% endif %}

                                  {% if dash_active1 == 'email' %}
                                      <a class='dashnav2_active'  href="{% url 'email' %}">
                                         <div>  <img  src="{% static 'img/email.svg' %}">  </div>
                                         <div> Email </div>
                                      </a>
                                  {% else %}
                                      <a href="{% url 'email' %}">
                                         <div>  <img  src="{% static 'img/email.svg' %}">  </div>
                                         <div> Email </div>
                                      </a>
                                  {% endif %}

                                  {% if dash_active1 == 'social' %}
                                      <a class='dashnav2_active'  href="{% url 'social' %}">
                                           <div>  <img  src="{% static 'img/instagram.svg' %}">  </div>
                                           <div> Social Media </div>
                                       </a>
                                  {% else %}
                                      <a href="{% url 'social' %}">
                                         <div>  <img  src="{% static 'img/instagram.svg' %}">  </div>
                                         <div> Social Media </div>
                                       </a>
                                  {% endif %}
                          </div>

                          <div class="dash-main">
                              {% block dashboardbase_content %} {% endblock %}
                          </div>
          </div>
    </div>
</div>


     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}
