{% load static %}
<div>
    <button  class="dash-button1" type="button"> <a style="font-size:10px; text-decoration:none; color:black;" href="{% url 'listing-create' %}"> Create Listing </a> </button>
</div>

<div class='dashnav3-updown'>
      <div>
          <img id="dashnavbar3_click" style="display:none" src="{% static 'img/cright.svg' %}">
          <img id="dashnavbar3_click" src="{% static 'img/cdown.svg' %}">
         <div class="dash-font1"> Listings </div>
       </div>

      <div class='dn3-ud-r2'>
            {% include "dashboards/dashnav3_updown_element.html" with list_element='Listings' %}
            {% include "dashboards/dashnav3_updown_element.html" with list_element='Sharing' %}
            {% include "dashboards/dashnav3_updown_element.html" with list_element='Scheduled for viewing' %}
            {% include "dashboards/dashnav3_updown_element.html" with list_element='Photos / 3D Photos ' %}
            {% include "dashboards/dashnav3_updown_element.html" with list_element='Videos' %}
            {% include "dashboards/dashnav3_updown_element.html" with list_element='Listings' %}
      </div>

</div>

<div class='dashnav3-updown'>
      <div>
          <img id="dashnavbar3_click" style="display:none" src="{% static 'img/cright.svg' %}">
          <img id="dashnavbar3_click" src="{% static 'img/cdown.svg' %}">
         <div class="dash-font1"> Tenants </div>
      </div>

       <div class='dn3-ud-r2'>
             {% include "dashboards/dashnav3_updown_element.html" with list_element='All' %}
             {% include "dashboards/dashnav3_updown_element.html" with list_element='Verification' %}
             {% include "dashboards/dashnav3_updown_element.html" with list_element='Scheduled for viewing' %}
             {% include "dashboards/dashnav3_updown_element.html" with list_element='Paperless Agreements' %}
       </div>
</div>


<div class='dashnav3-updown'>
      <div>
          <img id="dashnavbar3_click" style="display:none" src="{% static 'img/cright.svg' %}">
          <img id="dashnavbar3_click" src="{% static 'img/cdown.svg' %}">
         <div class="dash-font1"> Applicants </div>
      </div>

       <div class='dn3-ud-r2'>
             {% include "dashboards/dashnav3_updown_element.html" with list_element='All' %}
             {% include "dashboards/dashnav3_updown_element.html" with list_element='Comparision' %}
       </div>
</div>


<div class='dashnav3-updown'>
      <div>
          <img id="dashnavbar3_click" style="display:none" src="{% static 'img/cright.svg' %}">
          <img id="dashnavbar3_click" src="{% static 'img/cdown.svg' %}">
         <div class="dash-font1">  Rental Insurance  </div>
      </div>

       <div class='dn3-ud-r2'>
             {% include "dashboards/dashnav3_updown_element.html" with list_element='All' %}
       </div>
</div>


<div class='dashnav3-updown'>
      <div>
          <img id="dashnavbar3_click" style="display:none" src="{% static 'img/cright.svg' %}">
          <img id="dashnavbar3_click" src="{% static 'img/cdown.svg' %}">
         <div class="dash-font1">  Services  </div>
      </div>

       <div class='dn3-ud-r2'>
             {% include "dashboards/dashnav3_updown_element.html" with list_element='All' %}
             {% include "dashboards/dashnav3_updown_element.html" with list_element='Ongoing' %}
             {% include "dashboards/dashnav3_updown_element.html" with list_element='Maintenance' %}
       </div>
</div>
