{% extends './dashboard.html' %}
{% load static %}

{% block dashboard_content %}

    <div class="dm-content">

      <div style="margin-right:20px;" class='dmc-box'>
          <div class='dmcb-r1'>
              <div> Listings </div>
              <div>
                  <div> 2 </div>
                  <div id='dmc_click1'>
                    <img id="dashnavbar3_click" style="display:none" src="{% static 'img/cright.svg' %}">
                    <img id="dashnavbar3_click" src="{% static 'img/cdown.svg' %}">
                  </div>
              </div>
          </div>

          <div class='dmcb-r2'>
                <div class='dash-listing-pane'>
                    <div> House available for renting. </div>
                    <div> <div> Rooms  3 </div> </div>
                    <div> <div> Applicants  4 </div> </div>
                </div>

                <div class='dash-listing-pane'>
                    <div> Basement available. </div>
                    <div> <div> Rooms  3 </div> </div>
                    <div> <div> Applicants  40 </div> </div>
                </div>

          </div>
      </div>


            {% if dashboard_type == 'tasker' %}
      <div class='dmc-box'>


        <div class='dmcb-r1'>
            <div> Tasks </div>
            <div>
                <div> 2 </div>
                <div id='dmc_click1'>
                  <img id="dashnavbar3_click" style="display:none" src="{% static 'img/cright.svg' %}">
                  <img id="dashnavbar3_click" src="{% static 'img/cdown.svg' %}">
                </div>
            </div>
        </div>


          <div class='dmcb-r2'>
                <div class='dash-listing-pane'>
                    <div> Fix kitchen pipeline. </div>
                    <div> <div> Due  This Monday </div> </div>
                    <div> <div> Price $500   </div> </div>
                </div>

                <div class='dash-listing-pane'>
                    <div> Electrice wiring 2345 Emerson St. </div>
                    <div> <div> Price $500 </div> </div>
                    <div> <div> Days 5 </div> </div>
                </div>

          </div>


      </div>
      {% endif %}


    </div>
{% endblock %}
