{% extends './notifications.html' %}

{% block screen_content %}
    <div class="mt-4 ml-4">
        {% if not empty %}
        <div class='dash-font3'> Notification </div>
            <small class="text-secondary">Username : {{ user.username }}</small><br>
            <small class="text-secondary">Email : {{ user.email }}</small><br><br>
            {{ notification.title }}<br>
            <small class="text-muted">{{ notification.date_created }} UTC</small>
            <hr>
            {{ notification.text }}
        </div>
        {% else %}
            <h2>Select A Notification</h2>
        {% endif %}
    </div>
{% endblock %}