<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md">
                <small class="d-block mb-3 text-muted">Copyright © Meetquoteshack 2020</small>
            </div>
            <div class="col-6 col-md">
                <h5>Social Media</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" target="_blank" href="https://twitter.com/dhanrhak">Twitter</a></li>
                    <li><a class="text-muted" target="_blank" href="https://www.facebook.com/Meetquoteshack-105171221192886/">Facebook</a></li>
                    <li><a class="text-muted" target="_blank" href="https://www.linkedin.com/company/meetquoteshack-inc/">Linkedin</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="{% url 'partners' %}">See our partners</a></li>
                    <li><a class="text-muted" href="{% url 'privacy-policy' %}">Privacy policy</a></li>
                    <li><a class="text-muted" href="{% url 'terms-and-condition' %}">Terms and condition</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Contact us</h5>
                <ul class="list-unstyled text-small">
                    <li><p class="text-muted">admin@meetquoteshack.com</p></li>
                </ul>
            </div>
        </div>
    </div>
</footer>