{% load crispy_forms_tags %}

<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content topborder">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">What are you looking for?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>

            <form method="POST" action="{% url 'datalist-listing' %}" id="bookingform" class="p-3">
                {% csrf_token %}
                <small>We apologize, we have launched but are still in a development phase. Please fill the application below and we will help you find what you are looking for.</small>
                <br><hr/>
                {{ listingdatalistform|crispy }}
                <div class="form-group text-center">
                    <button class="btn btn-outline-success" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>