{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-sm-center">
        <div class="col-sm-10 col-md-6">
            <div class="card m-4 p-4">
                <h2 class="text-center">You have been logged out</h2>
                <div class="border-top card">
                    <small class="text-muted">
                        <a href="{% url 'login' %}">Log In Again</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}