{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row mt-5">
    <div class="col-md-3 card p-4">
      <ul>
        <li><a href="{% url 'accounts:detail' %}">Personal Details</a></li>
        <li><a href="{% url 'accounts:membership' %}">Account Details</a></li>
        <li><a href="{% url 'accounts:lease' %}">My Leases</a></li>
      </ul>
    </div>
    <div class="col-md-6 offset-1">
    {% for house in houses%}
      <div class="card mb-4 p-2">
        <a href="{% url 'listing-detail' house.slug %}">
          {{ house.title }}
        </a>
      </div>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
