{% extends './base.html' %}


{% block screen_content %}
<div class='dash-applications-pane'>

  {% for x in request.user.landlord.house_set.all %}
      <div>
            <div> {{ x.title}} </div>
            <div> {{ x.address }} </div>
            <div>
                {% if x.sfvapplication_set.all %}
                       {% for y in x.sfvapplication_set.all %}
                               <div> {{ y.tenant.user.email }} </div>
                               <div> {{ y.tenant.name }} </div>
                               <div> {{ y.phone_number }} </div>
                               <div>
                                  {% for z in y.sfvday_set.all %}
                                      <div>
                                          <div> {{ z.id }} </div>
                                          <div>  {{ z.date }} </div>
                                          {% if z.selected %}
                                             <div> Selected </div>
                                          {% else %}
                                              <div id="select_sfv_day"> Select </div>
                                          {% endif %}
                                      </div>
                                      <div>
                                            {% if z.accepted %} Accepted {% endif %}
                                      </div>
                                  {% endfor %}
                                </div>
                       {% endfor %}
                {% else %}
                      <div> No Applications Yet </div>
                {% endif %}
            </div>
      </div>
  {% endfor %}

</div>

{% endblock %}
