{% extends './base.html' %}


{% block screen_content %}
<div class='land-listing-pane'>
  <div>  <div class='dash-font3'> Long Term Ads </div> </div>
  <div>
  {% for x in request.user.landlord.house_set.all %}
          {% if not x.short_term %}
            {% include "dashboards/dash/screen_content/includes/dash-listing-ad.html" with x=x %}
          {% endif %}
  {% endfor %}
  </div>
</div>

<div style="border-top:1px solid #e8e8e8; margin-top:5px; margin-bottom:20px;"> </div>
<div class='land-listing-pane'>
  <div>  <div class='dash-font3'> Short Term Ads </div> </div>
  <div>
  {% for x in request.user.landlord.house_set.all %}
          {% if  x.short_term %}
                {% include "dashboards/dash/screen_content/includes/dash-listing-ad.html" with x=x %}
          {% endif %}
  {% endfor %}
  </div>
</div>
{% endblock %}
