{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-4">
          {% include "includes/search.html" %}
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            {% for house in houses %}
            <div class="card col-md-5 col-sm-12 m-4 p-0 box-shadow">
              <a href="{% url 'listing-detail' house.slug %}">
                  {% if house.external_source %}
                    <img class="card-img-top" src="{{house.get_external_thumbnail }}" style="min-height: 250px;" alt="Card image cap">
                  {% else %}
                    <img class="card-img-top" src="{{house.get_thumbnail }}" style="min-height: 250px;" alt="Card image cap">
                  {% endif %}
                  <div class="card-body m-0 p-0 ">
                      <div class="card-text m-2 text-dark">
                        <small>{{ house.monthly_rent }}$/month</small><br>
                        <small>{{ house.title }}</small><br>
                        <small>{{ house.get_city_display }}</small>
                      </div>
                      <hr/>
                      <div class="card-text m-2">
                          {% if house.user.profile.name %} 
                            <a href="{% url 'listing-user' house.user.username %}"><small>Uploaded by : {{ house.user.profile.name }}</small></a>
                          {% else %}
                            <a href="{% url 'listing-user' house.user.username %}"><small>Uploaded by : {{ house.user.username }}</small></a>
                          {% endif %}
                      </div>
                  </div>
                </a>
              </div>
            {% endfor %}
        {% if forloop.counter|divisibleby:"6" or forloop.last %}
        </div>
        {% endif %}
    </div>
    <div class="container">
      <div class="row justify-content-center">
      {% if is_paginated %}
        {% if page_obj.has_previous %}
          <a class="btn btn-outline-info mb-4" href="?q={{searchq}}&page=1">First</a>
          <a class="btn btn-outline-info mb-4" href="?q={{searchq}}&page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?q={{searchq}}&page={{ num }}">{{ num }}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?q={{searchq}}&page={{ num }}">{{ num }}</a>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <a class="btn btn-outline-info mb-4" href="?q={{searchq}}&page={{ page_obj.next_page_number }}">Next</a>
          <a class="btn btn-outline-info mb-4" href="?q={{searchq}}&page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
      {% endif %}
      </div>
    </div>
    {% if request.path == "/rentals/" %}
    <div class="container mt-4">
      <div class="row justify-content-center">
        <a class="btn btn-outline-info mb-4" href="{% url 'listing-short' %}">Show short-term rentals</a>
      </div>
    </div>
    {% endif %}
    {% if request.path == "/rentals/short/" %}
    <div class="container mt-4">
      <div class="row justify-content-center">
        <a class="btn btn-outline-info mb-4" href="{% url 'listing' %}">Show long-term rentals</a>
      </div>
    </div>
    {% endif %}
{% endblock content %}