{% extends "base.html" %}

{% block title %}
    {{house.get_city}} | {{ house.title }}
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="container mt-3 mb-5 box-shadow">
        <div class="row">
            <div class="card col-md-12">
                <div id="carouselExampleInterval" class="carousel slide mb-5" data-ride="carousel">
                    <div class="carousel-inner">
                        {% if house.external_source %}
                            {% for image in house.get_external_gallery %}
                            <div class="carousel-item {% if forloop.first %} active {% endif %}" data-interval="10000">
                                <img src="{{ image.url }}" class="listing-header-image" alt="{{ house.title }}">
                            </div>
                            {% endfor %}
                        {% else %}
                            {% for image in house.get_gallery %}
                            <div class="carousel-item {% if forloop.first %} active {% endif %}" data-interval="10000">
                                <img src="{{ image.src.url }}" class="listing-header-image" alt="{{ house.title }}">
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <div class="container">
                            <div class="row">
                                <h2 class="mr-auto">{{ house.title|title }}</h2>
                                <a href="{% url 'listing-favourite' house.id %}" style="align-self: center;">
                                    {% if is_favourite %}
                                        <i class="fas fa-heart ml-auto fa-lg m-2"></i>
                                    {% else %}
                                        <i class="far fa-heart ml-auto fa-lg m-2"></i>
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                        <p>{{ house.get_address }}</p>
                        <h2>Description</h2>
                        <small>{{ house.description }}</small>
                        {% if house.has_amenities %}
                        <div class="card mt-3">
                            <div class="card-body">
                                <h5>Amenities</h5>
                                <ul>
                                    {% if house.has_dishwasher %}
                                        <li>Dishwasher</li>
                                    {% endif %}
                                    {% if house.pets_allowed %}
                                        <li>Pets allowed</li>
                                    {% endif %}
                                    {% if house.heating %}
                                        <li>Heating Included</li>
                                    {% endif %}
                                    {% if house.has_closet %}
                                        <li>Closet</li>
                                    {% endif %}
                                    {% if house.is_furnished %}
                                        <li>Fully Furnished</li>
                                    {% elif house.is_partially_furnished %}
                                        <li>Partially Furnished</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                        <div class="card mb-3 mt-3">
                            <div class="card-header">
                                Lister
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2">
                                        <img src="{{ house.user.profile.profile_pic.url }}" width="50" height="50" class="rounded-circle" href="#" alt="Profile picture"/>
                                    </div>
                                    <div class="col-6">
                                        {% if house.user.profile.name %}
                                            <div class="row">{{ house.user.profile.name }}</div>
                                        {% else %}
                                            <div class="row">{{ house.user.username }}</div>
                                        {% endif %}
                                        <div class="row text-muted">Joined in {{ house.user.date_joined|date }}</div>
                                    </div>
                                    <div class="col-3">
                                        <a href="{% url 'listing-user' house.landlord.user.username %}" class="btn btn-outline-success">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="card p-4">
                            <h3>{{ house.get_monthly_rent}}</h3>
                            <hr>
                            {% if house.short_term %}
                            <h5>Already booked in these dates</h5>
                                <ul>
                                    {% for booking in house.get_bookings %}
                                    <li>{{booking.start}} - {{ booking.end}}</li>
                                    {% empty %}
                                    <li>No Bookings Yet</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                            <h3>Availabilty</h3>
                            <div class="row no-gutters">
                                <p class="col-md-4 text-muted">Duration</p>
                                <p class="col-md-4 offset-md-4"> {{house.duration}} months</p>
                            </div>
                            <div class="row no-gutters">
                                <p class="col-md-4 text-muted">Earliest move in</p>
                                <p class="col-md-4 offset-md-4"> {{house.earliest_move_in}}</p>
                            </div>
                            <div class="row no-gutters">
                                <p class="col-md-4 text-muted">Earliest move out</p>
                                <p class="col-md-4 offset-md-4"> {{house.latest_move_out}}</p>
                            </div>
                            <hr/>
                            {% endif %}
                            {% if house.resign %}
                            <div class="row no-gutters p-2">
                                <i class="fas fa-redo text-success"> Option to re-sign</i>
                                <i class="fas fa-info-circle ml-auto" data-toggle="tooltip" data-placement="top" title="When the sublease ends you can sign a new lease directly with the landlord"></i>
                            </div>
                            {% endif %}
                            <div class="row no-gutters p-2 mb-3">
                                {% if user.profile.is_notverified %}
                                    <a href="{% url 'user-verification' %}"><button class="btn btn-outline-success">Verify Profile</button></a>
                                {% elif user.profile.is_verification_processing %}
                                    <h5>Verification Status  <span class="badge badge-secondary">Processing</span></h5>
                                {% elif house.external_source %}
                                    <a href="{{ house.external_link }}" target="_blank" class="btn btn-warning btn-lg btn-block">
                                        See more details
                                    </a>
                                {% elif house.short_term %}
                                <button class="btn btn-warning btn-lg btn-block" data-toggle="modal" data-target="#staticBackdrop">Request Booking</button>
                                <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">When do you want this house?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>

                                            <form method="POST" class="p-3">
                                                {% csrf_token %}
                                                {{ booking_form|crispy }}
                                                <div class="form-group text-center">
                                                    <button class="btn btn-outline-warning" type="submit">Request Booking</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <button class="btn btn-warning btn-lg btn-block" data-toggle="modal" data-target="#staticBackdrop">Connect</button>
                                <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Get lister detail</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>

                                            <form method="POST" class="p-3">
                                                {% csrf_token %}
                                                {{ form|crispy }}
                                                <div class="form-group text-center">
                                                    <button class="btn btn-outline-warning" type="submit">Connect</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                {% include "rentals/social_share.html" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Schedule for viewing</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  <div>
                        <div id="sfv_name">
                           <div> Name </div>
                           <input type="text" name='sfv_name'>
                        </div>

                        <div id='sfv_phone'>
                           <div> Phone Number </div>
                           <input type="text" name='sfv_phone'>
                        </div>

                        <div id='sfv_num'>
                           <div> Number of people coming </div>
                           <input type='number' name='sfv_num'>
                        </div>

                        <div>
                           <div> Notes </div>
                           <textarea type="text" name='sfv_notes' rows="4" cols="50"> </textarea>
                        </div>

                        <div id='sfv_avail'>
                            <div>
                                <div> Monday </div>
                                <div>
                                  <div> <div> Available </div> <input type="radio" name='sfv_mon' value='yes'> </div>
                                  <div> <div> Not Available </div> <input type="radio" name="sfv_mon" value='no'> </div>
                                </div>
                            </div>

                            <div>
                                <div> Tuesday </div>
                                <div>
                                  <div> <div> Available </div> <input type="radio" name='sfv_tue' value='yes'> </div>
                                  <div> <div> Not Available </div> <input type="radio" name="sfv_tue" value='no'> </div>
                                </div>
                            </div>

                            <div>
                                <div> Wednesday </div>
                                <div>
                                  <div> <div> Available </div> <input type="radio" name='sfv_wed' value='yes'> </div>
                                  <div> <div> Not Available </div> <input type="radio" name="sfv_wed" value='no'> </div>
                                </div>
                            </div>

                            <div>
                                <div> Thursday </div>
                                <div>
                                  <div> <div> Available </div> <input type="radio" name='sfv_thr' value='yes'> </div>
                                  <div> <div> Not Available </div> <input type="radio" name="sfv_thr" value='no'> </div>
                                </div>
                            </div>

                            <div>
                                <div> Friday </div>
                                <div>
                                  <div> <div> Available </div> <input type="radio" name='sfv_fri' value='yes'> </div>
                                  <div> <div> Not Available </div> <input type="radio" name="sfv_fri" value='no'> </div>
                                </div>
                            </div>

                            <div>
                                <div> Saturday </div>
                                <div>
                                  <div> <div> Available </div> <input type="radio" name='sfv_sat' value='yes'> </div>
                                  <div> <div> Not Available </div> <input type="radio" name="sfv_sat" value='no'> </div>
                                </div>
                            </div>

                            <div>
                                <div> Sunday </div>
                                <div>
                                  <div> <div> Available </div> <input type="radio" name='sfv_sun' value='yes'> </div>
                                  <div> <div> Not Available </div> <input type="radio" name="sfv_sun" value='no'> </div>
                                </div>
                            </div>
                        </div>
                        <div id="sqv_hiddens">
                            <div id="ad_id" style='display:none'> {{ house.id}} </div>
                        </div>
                          <input id='sfv_form_submit' class="btn btn-primary" value='submit'>
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
              </div>
            </div>
          </div>

        </div>
    </div>
{% endblock content %}
