{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Incuman - The Digital Marketplace
{% endblock %}

{% block content %}
<section class="jumbotron text-center m-0">
  <div class="container">
      <h1>Deliver Anything</h1>
      <p class="lead text-muted text-center">
          Save Your Time, Do Your Work. Let us do the delivery/pickup for you.
          Enjoy a fast, affordable and convenient service.

      </p>
      <p class="lead">
        {% if not user.is_authenticated %}
        <a href="{% url 'business-signup' %}" class="btn btn-lg btn-success btn-icon mt-3 mb-sm-0">
          Register Your Business
        </a><br>
        <a href="{% url 'tasker-signup' %}" class="btn btn-lg btn-success btn-icon mt-3 mb-sm-0">
          Become A Deliverer
        </a>
        {% elif user.profile.is_deliverer and not user.profile.has_vehicle %}
            <button type="button" class="btn btn-lg btn-success" data-toggle="modal" data-target="#vehicleModal">
              Register Your Vehicle
            </button>
        {% endif %}
        <button class="btn btn-lg btn-success btn-icon mt-3" id="faqBtn">
          FAQ
        </button>
      </p>
  </div>
</section> 
<div class="py-5 bg-light">
    <div class="container" id="mainContainer">
        {% if user.is_authenticated %}
            <div class="card topborder">
                <div class="card-body">
                    <h2 class="mb-4">Create A Delivery</h2>
                    <form name="deliveryform" id="deliveryform" method="POST" enctype="multipart/form-data" action="{% url 'deliver-anything' %}">
                        {% csrf_token %}
                         {{ deliveryform.pickup|as_crispy_field }}
                        {{ deliveryform.dropoff|as_crispy_field }}
                        {{ deliveryform.date|as_crispy_field }}
                        {{ deliveryform.date_time|as_crispy_field }}
                        {{ deliveryform.wait_time|as_crispy_field }}
                        {{ deliveryform.description|as_crispy_field }}
                        {{ deliveryform.weight|as_crispy_field }}
                        <div class="form-group">
                            <h4 class="mb-4">DIM Weight <small>(Enter Values as Inches)</small></h4>
                            {{ deliveryform.length|as_crispy_field }}
                            {{ deliveryform.width|as_crispy_field }}
                            {{ deliveryform.height|as_crispy_field }}
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="images">Upload Images</label><br>
                                <input class="form-group" type="file" name="images" accept="image/*" multiple>
                            </div>
                        </div>
                        <a class="btn btn-success" id="quoteBtn" style="color: white;" data-toggle="modal" data-target="#quoteModal">Get Quote</a>
                    </form>
                </div>
            </div>
        {% else %}
            <div class="card topborder">
                <div class="card-body">
                    {% include 'includes/anonymous_delivery_form.html' %}
                </div>
            </div>
        {% endif %}
        <div class="modal fade" id="vehicleModal" tabindex="-1" role="dialog" aria-labelledby="quoteModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="quoteModalLabel">Register Vehicle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form name="vehicleForm" action="{% url 'vehicle-register' %}" method="POST">
                  {% csrf_token %}
                  <div class="modal-body">
                    {{ vehicleform|crispy }}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Register Vehicle</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
    </div>
    <div class="container" id="faqContainer" style="display: none;">
        <div class="card topborder">
            <div class="card-body">
                <h1>FAQ</h1>
                <div id="accordion">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          How does it work?
                        </button>
                      </h5>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <ul>
                              <li>
                                  Delivering Used Products
                                  <ul>
                                      <li>incuman will delivery/pickup any kind of used products. Just order and let us know where to deliver/pickup</li>
                                  </ul>
                              </li>
                              <li>
                                  Equipment/Machinery
                                  <ul>
                                      <li>incuman can also deliver/pickup any required machinery or equipment for your home/business.</li>
                                  </ul>
                              </li>
                              <li>
                                  Restaurants/Groceries/Stores
                                  <ul>
                                      <li>incuman will also help you pickup foods, groceries, and other products from your favorite restaurants or stores.</li>
                                  </ul>
                              </li>
                              <li>
                                  Business to Business/Customer
                                  <ul>
                                      <li>incuman will also do sameday delivery/pickup of essential documents or other business related items to other business or customers.</li>
                                  </ul>
                              </li>
                              <li>
                                  Customer to Customer
                                  <ul>
                                      <li>incuman will also do sameday delivery/pickup of any approved items from customer to customer</li>
                                  </ul>
                              </li>
                          </ul>

                          <ol>
                              <b class="text-success">For Individuals</b>
                              <ol>
                                  <li>Enter where & when you want us to pick up the products/items & where you want us to deliver</li>
                                  <li>Enter any special details you want to the deliverer to know in the description field</li>
                                  <li>Describe the product, upload any receipts or required documents, and make sure all details are filled</li>
                                  <li>Submit for estimation</li>
                              </ol>
                          </ol>

                          <ol>
                              <b class="text-success">For Businesses</b>
                              <ol>
                                  <li>Enter where & when you want us to pick up the products/items & where you want us to deliver</li>
                                  <li>Enter product descriptions, handling information, or special details you want to the deliverer to know in the description field</li>
                                  <li>Submit for estimation</li>
                              </ol>
                          </ol>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                          Where is the service available?
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body">
                          Our services are currently only available in Vancouver, Burnaby, Richmond, & Surrey.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingThree">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                          How is the service charged?
                        </button>
                      </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                      <div class="card-body">
                          Our system calculates based on either weight in pounds or DIM weight added with a formula that calculates a distance cost.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingFour">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
                          How is the service charged?
                        </button>
                      </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                      <div class="card-body">
                          Our system calculates based on either weight in pounds or DIM weight added with a formula that calculates a distance cost.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingFive">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseOne">
                          What is excluded from delivery?
                        </button>
                      </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                      <div class="card-body">
                          <ul>
                              <li>All kinds of marijuana</li>
                              <li>Animals</li>
                              <li>Super sensitive & soft items</li>
                              <li>Super expensive & rare items</li>
                              <li>Illegal items, products, and substances</li>
                              <li>Any kinds of dangerous goods, explosives, firearms, flammables, chemicals, stolen items</li>
                              <li>And Items or products that you do not have clearance/authorized to send.</li>
                          </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingSix">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseOne">
                          How to identify our delivery drivers?
                        </button>
                      </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                      <div class="card-body">
                          We will send your the driver's vehicle information in our dashboard's chatroom feature.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingSeven">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseOne">
                          What is the service?
                        </button>
                      </h5>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                      <div class="card-body">
                          We will provide a delivery of your product(s) from one place to another. This place can be a store, marketplace, house, warehouse, etc.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingEight">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseOne">
                          What are the followed instructions?
                        </button>
                      </h5>
                    </div>
                    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                      <div class="card-body">
                          Due to Covid-19 we are strictly following contactless delivery protocols, so the delivery drivers will provide our service following strict guidelines.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingNine">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true" aria-controls="collapseOne">
                          How do tips work?
                        </button>
                      </h5>
                    </div>
                    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
                      <div class="card-body">
                          100% of tips go to our delivery people, and you can give it to them directly.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTen">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseOne">
                          What Are Delivery Driver Requirements?
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
                      <div class="card-body">
                          <ul>
                              <li>Class 5 Driver's License</li>
                              <li>Vehicle with valid insurance</li>
                              <li>Smart phone with camera and data plan</li>
                              <li>International Students can also sign up if they are full-time students with valid student id card of the university and a valid driver's license</li>
                          </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingEleven">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="true" aria-controls="collapseOne">
                          How long does it take to become a delivery driver?
                        </button>
                      </h5>
                    </div>
                    <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion">
                      <div class="card-body">
                          Generally onboarding takes 3 to 5 business days.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTwelve">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="true" aria-controls="collapseOne">
                          How is vehicle wear and tear dealt with?
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion">
                      <div class="card-body">
                          The vehicle must be registered nder your own name, and have valid insurance. Any damage of wear and tear of your vehicle is completely your responsibility.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTwelve">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="true" aria-controls="collapseOne">
                          What if an accident occurs?
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion">
                      <div class="card-body">
                          Insure your safety and call 911 if required. Contact us immediately when safe.
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
<div class="modal fade" id="quoteModal" tabindex="-1" role="dialog" aria-labelledby="quoteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="quoteModalLabel">Delivery</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="append">
            <div class="loader mx-auto"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" id="acceptBtn" style="display: none;" data-dismiss="modal">Accept</button>
        <button type="submit" class="btn btn-primary" id="payBtn" style="display: none;">Make Payment</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
    <script>

    $("#faqBtn").click(function () {
        if ($("#faqContainer").is(":hidden")) {
            $("#mainContainer").hide();
            $("#faqContainer").show();
            $("#faqBtn").html("See Form");
        } else {
            $("#faqContainer").hide();
            $("#mainContainer").show();
            $("#faqBtn").html("FAQ");
        }
    })

    $("#acceptBtn").click(function () {
        $("#deliveryform").submit();
    })

    $("#payBtn").click(function () {
        var quote = $("#payBtn").val();
        $("#payBtn").hide();
        var values = {};
        $.each($('#deliveryform').serializeArray(), function (i, field) {
            values[field.name] = field.value;
        });
        values["quote"] = quote
        $.ajax({
            url: `{% url 'ajax-accept' %}?values=${JSON.stringify(values)}`,
            method: 'POST',
            success: function (response) {
                var del = response;
                $.ajax({
                    url: `{% url 'payment-methods' %}`,
                    method: 'POST',
                    success: function (response) {
                        var cards = `<h5>Select A Payment Method ($${quote})</h5><ul class="list-group mx-auto m-2">`;
                        var i = 0;
                        for (var obj in response["data"]) {
                            i++;
                            cards += `<li class="list-group-item"><i class="fab fa-cc-${response["data"][obj]["card"]["brand"]}"></i> •••• •••• •••• ${response["data"][obj]["card"]["last4"]} | ${JSON.stringify(response["data"][obj]["card"]["exp_month"])}/${JSON.stringify(response["data"][obj]["card"]["exp_year"])}<a href="{% url 'deliver-payment' %}?card=${response["data"][obj]["id"]}&quote=${quote}&id=${del}" class="fas fa-check text-success ml-4"></a></li>`
                        }
                        if (i === 0) {
                            cards += `<li class="list-group-item">You do not have a saved payment method. Add one <a href="{% url 'user-payment' %}">here.</a></li>`
                        }

                        cards += `</ul>`
                        cards += `<input class="form-control" type="text" id="couponCode" name="coupon" placeholder="Enter Coupon Code" />`
                        $("#append").html(cards);
                    }
                })

            }
        })
    })

    $("#quoteBtn").click(function () {
        var values = {};
        $.each($('#deliveryform').serializeArray(), function (i, field) {
           values[field.name] = field.value;
        });
        $.ajax({
            url: `{% url 'quote-creator' %}?values=${JSON.stringify(values)}`,
            method: 'POST',
            success: function (response) {
                var json_response = JSON.parse(response);
                if (json_response["error"]) {
                    $("#append").html(json_response["error"]);
                    if (json_response["error"].startsWith("Since you have not provided")) {
                        $("#acceptBtn").show();
                        $("#payBtn").hide();
                    } else if (json_response["error"].startsWith("Since you do not have an account")) {
                        $("#acceptBtn").show();
                        $("#payBtn").hide();
                    } else {
                        $("#acceptBtn").hide();
                        $("#payBtn").hide();
                    }

                } else {
                    if (json_response["pickup"] && json_response["dropoff"]) {
                        if (json_response["quote"]) {
                            $("#acceptBtn").hide();
                            $("#append").html("Delivery Price: $" + json_response["quote"]);
                            $("#payBtn").val(json_response["quote"]);
                            $("#payBtn").show();
                        }
                    } else {
                        $("#append").html("Invalid Dropoff and/or Pickup address. Try again.");
                    }
                }
            }
            })
    })
    </script>
{% endblock js %}
