{% load static %}
<div>
    <button  class="dash-button1" type="button"> <a style="font-size:10px; text-decoration:none; color:black;" href="{% url 'create_task' %}" > Create a Task </a> </button>
</div>

<div class='dashnav3-updown'>
      <div>
          <img id="dashnavbar3_click" style="display:none" src="{% static 'img/cright.svg' %}">
          <img id="dashnavbar3_click" src="{% static 'img/cdown.svg' %}">
         <div class="dash-font1"> Tasks </div>
       </div>
      <div class='dn3-ud-r2' >

          {% if dash_active2 == 'tasker_tasks_all' %}
               {% include "dashboards/dash/dashnav3/dashnav3_updown_element.html" with list_element='All' lurl='dashboard_tasker' da2=True %}
          {% else %}
               {% include "dashboards/dash/dashnav3/dashnav3_updown_element.html" with list_element='All' lurl='dashboard_tasker' da2=False %}
          {% endif %}


          {% if dash_active2 == 'tasker_tasks_ms' %}
               {% include "dashboards/dash/dashnav3/dashnav3_updown_element.html" with list_element='Manage Schedule' lurl='tasker_manage_schedule' da2=True %}
          {% else %}
               {% include "dashboards/dash/dashnav3/dashnav3_updown_element.html" with list_element='Manage Schedule' lurl='tasker_manage_schedule' da2=False %}
          {% endif %}

      </div>
</div>

<div class='dashnav3-updown'>
      <div>
          <img id="dashnavbar3_click" style="display:none" src="{% static 'img/cright.svg' %}">
          <img id="dashnavbar3_click" src="{% static 'img/cdown.svg' %}">
         <div class="dash-font1"> Web Development </div>
       </div>
      <div class='dn3-ud-r2' >


          {% if dash_active2 == 'tasker_wd_all' %}
               {% include "dashboards/dash/dashnav3/dashnav3_updown_element.html" with list_element='All' lurl='tasker_web_dev' da2=True %}
          {% else %}
               {% include "dashboards/dash/dashnav3/dashnav3_updown_element.html" with list_element='All' lurl='tasker_web_dev' da2=False%}
          {% endif %}

      </div>
</div>
