{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Fontawesome -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}?rand=23423423">
    <script src="https://kit.fontawesome.com/7521df1375.js" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% if title %}
        <title>QuoteShack - {{ title }}</title>
    {% else %}
        <title>QuoteShack | The easiest way to sublet your lease</title>
    {% endif %}
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand mr-4" href="{% url 'home' %}">QuoteShack</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-item nav-link m-2" href="{% url 'listing' %}">Listings</a></li>
            <li class="nav-item"><a class="nav-item m-2 btn btn-outline-warning" href="{% url 'listing-create' %}">List Your Place</a></li>
            {% if membership == 'Free' %}
              <li class="nav-item"><a class="nav-link m-2 btn btn-warning text-dark" href="{% url 'memberships:select' %}">Become a Landlord</a></li>
            {% endif %}
            <li class="nav-item dropdown">
              <img src="{{ user.profile.profile_pic.url }}" width="60" height="60" class="rounded-circle nav-item nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true"/>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'user-detail' %}">Profile Detail</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'user-membership' %}">Membership Details</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'listing-create' %}">Create Listing</a>
                <a class="dropdown-item" href="{% url 'user-lease' %}">My Listings</a>
                <div class="dropdown-divider"></div>
                {% if membership == 'Landlord' %}
                  <a class="dropdown-item" href="{% url 'agreement-create' %}">Create Agreement</a>
                  <a class="dropdown-item" href="{% url 'user-agreements' %}">My Agreements</a>
                  <div class="dropdown-divider"></div>
                {% endif %}
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              </div>
            </li>
          {% else %}
            <a class="nav-item nav-link m-2" href="{% url 'listing' %}">Listing</a>
            <a class="nav-item nav-link m-2" href="{% url 'login' %}">Login</a>
            <a class="nav-item nav-link m-2" href="{% url 'signup' %}">Register</a>
            <li class="nav-item"><a class="nav-item m-2 btn btn-outline-warning" href="{% url 'listing-create' %}">List Your Place</a></li>
          {% endif %}
          </ul>
      </div>
    </nav>
    {% if messages %}
      {% for message in messages %}
      <div class="container">
        <div class="row justify-content-sm-center">
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" style="position: absolute; z-index: 1000;">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
      {% endfor %}
    {% endif %}
    
    {% block content %}{% endblock %}

    <footer class="footer py-4 mt-5">
      <hr>
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-4 text-lg-left">Copyright © Meetquoteshack 2020</div>
              <div class="col-lg-4 my-3 my-lg-0">
                  <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                  <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                  <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
              </div>
              <div class="col-lg-4 text-lg-right"><a class="mr-3" href="#!">Privacy Policy</a><a href="#!">Terms of Use</a></div>
          </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>