{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">
      {% for house in houses %}
      <div class="card m-4 box-shadow">
        <img class="card-img-top" src="{{house.get_thumbnail }}" style="min-height: 250px;" alt="Card image cap">
          <div class="card-body">
            <div class="card-text">
            <small>{{ house.get_monthly_rent }} | {{ house.city }}</small>
              <br>
              <small>
                <a href="{% url 'listing-detail' house.slug %}">
                  {{ house.title }}
                </a>
              </small>
              <br>
            </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}