{% load static %}


<div class='dmcb-r2'>
      <div class='dash-listing-pane'>
          <div> {{ x.title}} </div> 
          <div> <div> Uploaded at  {{ x.uploaded_at }} </div> </div>
          <div> {% if x.applications_set.count > 0 %} <div> Applicants  {{ x.applications_set.count  }} </div> {% else %} No Applications {% endif %} </div>
          <div class='dlp-ud'>
                <div> <a href="{% url 'listing-update' x.slug %}" class=""> Update </a> </div>
                <div> <a href="{% url 'listing-deactivate' x.slug %}" class="">  Deactivate </a> </div>
                <div> <a href="{% url 'listing-application' x.slug %}" class="">  Applications </a> </div>
          </div>
      </div>
</div>
