{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="col-md-8 offset-2">
    <div class="card mt-3 box-shadow">
      <div class="card-header text-secondary">
        Processing <i class="fas fa-info-circle ml-auto" data-toggle="tooltip" data-placement="bottom" title="These agreements are not yet signed by the tenants."></i>
      </div>
      <ul class="list-group list-group-flush">
        {% for agreement in processing %}
          <li class="list-group-item">
            <div class="row">
              <div class="col-8">
                Agreement no - {{ agreement.slug }}
              </div>
              <div class="col-4">
                <a href="{% url 'agreement-detail' agreement.slug %}" class="btn btn-outline-success">See Detail</a>
              </div>
            </div>
          </li>
        {% empty %}
          <li class="list-group-item text-muted">You don't have any agreement that is in processing stage</li>
        {% endfor %}
      </ul>
    </div>

    <div class="card mt-3 box-shadow">
      <div class="card-header text-success">
        Active <i class="fas fa-info-circle ml-auto" data-toggle="tooltip" data-placement="bottom" title="These agreements are signed by the tenants and currently active."></i>
      </div>
      <ul class="list-group list-group-flush">
        {% for agreement in active %}
          <li class="list-group-item">
            <div class="row">
              <div class="col-8">
                Agreement no - {{ agreement.slug }}
              </div>
              <div class="col-4">
                <a href="{% url 'agreement-detail' agreement.slug %}" class="btn btn-outline-success">See Detail</a>
              </div>
            </div>
          </li>
        {% empty %}
          <li class="list-group-item text-muted">You don't have any agreement that is in processing stage</li>
        {% endfor %}
      </ul>
    </div>

    <div class="card mt-3 mb-3 box-shadow">
      <div class="card-header text-danger">
        Inactive <i class="fas fa-info-circle ml-auto" data-toggle="tooltip" data-placement="bottom" title="These agreements are inactive."></i>
      </div>
      <ul class="list-group list-group-flush">
        {% for agreement in inactive %}
          <li class="list-group-item">
            <div class="row">
              <div class="col-8">
                Agreement no - {{ agreement.slug }}
              </div>
              <div class="col-4">
                <a href="{% url 'agreement-detail' agreement.slug %}" class="btn btn-outline-success">See Detail</a>
              </div>
            </div>
          </li>
        {% empty %}
          <li class="list-group-item text-muted">You don't have any agreement that is in processing stage</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock content %}
