{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  {% if user.profile.is_notverified %}
  <div class="alert alert-danger mt-2 text-center" role="alert">
    Please update your verification document. <a href="{% url 'user-verification' %}"><button class="btn btn-primary">Click Here</button></a>
  </div>
  {% else %}
  <div class="mt-5"></div>
  {% endif %}
  <div class="row mb-5">
    <div class="col-md-3">
      <div class="list-group">
        <a href="{% url 'user-detail'%}"><button type="button" class="list-group-item list-group-item-action {% if request.resolver_match.view_name == 'user-detail' %}active{% endif %}">Profile</button></a>
        <a href="{% url 'user-verification'%}"><button type="button" class="list-group-item list-group-item-action {% if request.resolver_match.view_name == 'user-verification' %}active{% endif %}">Verify</button></a>
      </div>
    </div>
    <div class="col-md-7 offset-1">
      <div class="card p-3 box-shadow">
        <div class="media">
          <div class="media-body">
            <small class="text-secondary">Username : {{ user.username }}</small><br>
            <small class="text-secondary">Email : {{ user.email }}</small>
          </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
