{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
  <div class="col-sm-12 col-md-8 offset-md-2">
    <div class="card mt-3 box-shadow">
      <div class="card-header">
        Active Listings
      </div>
      <ul class="list-group list-group-flush">
        {% for house in active_houses %}
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-8">
                <a href="{% url 'listing-detail' house.slug %}">
                  {{ house.title }}
                </a>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <a href="{% url 'listing-update' house.slug %}" class="btn btn-outline-success">Update</a>
                  <a href="{% url 'listing-deactivate' house.slug %}" class="btn btn-outline-success">Deactivate</a>
                  <a href="{% url 'listing-application' house.slug %}" class="btn btn-outline-success">Applicants</a>
                </div>
              </div>
            </div>
          </li>
        {% empty %}
          <li class="list-group-item text-muted">You don't have any Deactive Listing</li>
        {% endfor %}
      </ul>
    </div>
    <div class="card mt-3 box-shadow">
      <div class="card-header">
        Short-term Listings
      </div>
      <ul class="list-group list-group-flush">
        {% for house in active_houses %}
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-8">
                <a href="{% url 'listing-detail' house.slug %}">
                  {{ house.title }}
                </a>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <a href="{% url 'listing-update' house.slug %}" class="btn btn-outline-success">Update</a>
                  <a href="{% url 'listing-deactivate' house.slug %}" class="btn btn-outline-success">Deactivate</a>
                  <a href="{% url 'listing-application' house.slug %}" class="btn btn-outline-success">Applicants</a>
                </div>
              </div>
            </div>
          </li>
        {% empty %}
          <li class="list-group-item text-muted">You don't have any Deactive Listing</li>
        {% endfor %}
      </ul>
    </div>

    <div class="card mt-3">
      <div class="card-header">
        Past Listings
      </div>
      <ul class="list-group list-group-flush">
        {% for house in inactive_houses %}
          <li class="list-group-item">{{ house.title }} - Created at {{ house.uploaded_at }}</li>
        {% empty %}
          <li class="list-group-item text-muted">You don't have any Deactive Listing</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock content %}
