{% extends "users/users_base.html" %}
{% load crispy_forms_tags %}

{% block content_block %}
  {% if user.profile.is_notverified %}
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Profile Verification</legend>
      <small>
      We accept
      <ul>
        <li>Passport</li>
        <li>Government issued ID</li>
      </ul>
      </small>
      {{ p_form|crispy }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-success" type="submit">Upload</button>
    </div>
  </form>
  {% elif user.profile.is_verification_processing %}
  <h1 class="text-center"><i class="fas fa-spinner text-success"></i> Verification is Proessing</h1>
  {% else %}
  <h1 class="text-center"><i class="fas fa-user-check text-success"></i> Profile Verified</h1>
  {% endif %}
{% endblock %}
