{% load static %}
<div>
    <button  class="dash-button1" type="button"> <a style="font-size:10px; text-decoration:none; color:black;" href="{% url 'listing-create' %}"> Create Listing </a> </button>
</div>

<div class='dashnav3-updown'>
      <div>
          <img id="dashnavbar3_click" style="display:none" src="{% static 'img/cright.svg' %}">
          <img id="dashnavbar3_click" src="{% static 'img/cdown.svg' %}">
         <div class="dash-font1"> Listings </div>
       </div>

      <div class='dn3-ud-r2'>
            {% if dash_active2 == 'listings' %}
                {% include "dashboards/dashnav3/dashnav3_updown_element.html" with list_element='Listings' lurl='dashboard' da2=False %}
            {% else %}
                {% include "dashboards/dashnav3/dashnav3_updown_element.html" with list_element='Listings' lurl='dashboard' da2=True %}
            {% endif %}

            {% include "dashboards/dashnav3/dashnav3_updown_element.html" with list_element='Sharing' lurl='sharing' %}
            {% include "dashboards/dashnav3/dashnav3_updown_element.html" with list_element='Scheduled for viewing' lurl='schedule_for_viewing'%}
            {% include "dashboards/dashnav3/dashnav3_updown_element.html" with list_element='Photos / 3D Photos ' lurl='photos' %}
            {% include "dashboards/dashnav3/dashnav3_updown_element.html" with list_element='Videos' lurl='videos' %}
      </div>

</div>

<div class='dashnav3-updown'>
      <div>
          <img id="dashnavbar3_click" style="display:none" src="{% static 'img/cright.svg' %}">
          <img id="dashnavbar3_click" src="{% static 'img/cdown.svg' %}">
         <div class="dash-font1"> Tenants </div>
      </div>

       <div class='dn3-ud-r2'>
             {% include "dashboards/dashnav3/dashnav3_updown_element.html" with list_element='All' lurl='tenants' %}
             {% include "dashboards/dashnav3/dashnav3_updown_element.html" with list_element='Verification' lurl='verification' %}
       </div>
</div>


<div class='dashnav3-updown'>
      <div>
          <img id="dashnavbar3_click" style="display:none" src="{% static 'img/cright.svg' %}">
          <img id="dashnavbar3_click" src="{% static 'img/cdown.svg' %}">
         <div class="dash-font1"> Applicants </div>
      </div>

       <div class='dn3-ud-r2'>
             {% include "dashboards/dashnav3/dashnav3_updown_element.html" with list_element='All' lurl='applicants' %}
             {% include "dashboards/dashnav3/dashnav3_updown_element.html" with list_element='Comparision' lurl='comparison' %}
       </div>
</div>


<div class='dashnav3-updown'>
      <div>
          <img id="dashnavbar3_click" style="display:none" src="{% static 'img/cright.svg' %}">
          <img id="dashnavbar3_click" src="{% static 'img/cdown.svg' %}">
         <div class="dash-font1">  Rental Insurance  </div>
      </div>

       <div class='dn3-ud-r2'>
             {% include "dashboards/dashnav3/dashnav3_updown_element.html" with list_element='All' lurl='rental_insurance' %}
       </div>
</div>


<div class='dashnav3-updown'>
      <div>
          <img id="dashnavbar3_click" style="display:none" src="{% static 'img/cright.svg' %}">
          <img id="dashnavbar3_click" src="{% static 'img/cdown.svg' %}">
         <div class="dash-font1">  Services  </div>
      </div>

       <div class='dn3-ud-r2'>
             {% include "dashboards/dashnav3/dashnav3_updown_element.html" with list_element='All' lurl='services' %}
             {% include "dashboards/dashnav3/dashnav3_updown_element.html" with list_element='Ongoing' lurl='services_ongoing' %}
             {% include "dashboards/dashnav3/dashnav3_updown_element.html" with list_element='Maintenance' lurl='maintenance' %}
       </div>
</div>
