{% extends 'base.html' %}

{% block title %}
  Coliving | Our pricing plan
{% endblock %}

{% block content %}
<div class="container">
	<div class="pricing-header pt-5 pb-5 mx-auto text-center">
		<h1>Choose the plan that fits you best.</h1>
		<p class="lead">If you want anything personalized, contact us.</p>
	</div>
</div>
<div class="container">
	<div class="card-deck mb-3 text-center">
		<div class="card shadow-sm">
			<div class="card-header">
				<h4>Free</h4>
			</div>
			<div class="card-body">
			<h3 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h3>
				<ul class="list-unstyled mt-3 mb-4">
					<li>Full service without hiring anyone</li><hr>
					<li>24/7 Customer Support</li><hr>
					<li>Security Deposit Gurantee</li><hr>
					<li>Basic listings</li><hr>
					<li>Tenant Verifications</li><hr>
					<li>Email support</li>
				</ul>
				<a class="text-decoration-none" href="{% url 'signup' %}"><button class="btn btn-lg btn-block btn-warning">Register</button></a>
			</div>
		</div>
		<div class="card shadow-sm">
			<div class="card-header">
				<h4>Lease Holder</h4>
			</div>
			<div class="card-body">
				<h3 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h3>
				<ul class="list-unstyled mt-3 mb-4">
					<li>Everything in free plan</li><hr>
					<li>Leave as soon as you are approved</li><hr>
					<li>We will take care of the paperwork</li><hr>
					<li>We will do the scheduling</li>
				</ul>
				<a class="text-decoration-none" href="{% url 'signup' %}"><button class="btn btn-lg btn-block btn-warning">Register</button></a>
			</div>
		</div>
		<div class="card shadow-sm">
			<div class="card-header">
				<h4>Landlord</h4>
			</div>
			<div class="card-body">
				<h3 class="card-title pricing-card-title">$63 <small class="text-muted">/ mo</small></h3>
				<ul class="list-unstyled mt-3 mb-4">
					<li>Everything in free plan</li><hr>
					<li>Unlimited listing</li><hr>
					<li>Grow your income while lowering workload</li><hr>
					<li>We select the most qualified tenant</li><hr>
					<li>We do the hardwork,applicant's and tenants will get service from us</li><hr>
					<li>Property showing on autopilot by magic box</li>
				</ul>
				<a class="text-decoration-none" href="{% url 'signup' %}"><button class="btn btn-lg btn-block btn-warning">Register</button></a>
			</div>
		</div>
	</div>
</div>



{% endblock content %}