{% extends 'base.html' %}

{% block title %}
Incuman - The Digital Marketplace
{% endblock %}

{% block content %}
<div class="container">
	<div class="pricing-header pt-5 pb-5 mx-auto text-center">
		<h1>Choose the plan that fits you best.</h1>
		<p class="lead">If you want anything personalized, contact us.</p>
	</div>
</div>
<div class="container">
	<div class="card-deck mb-3 text-center">
		{% for object in object_list %}
		<div class="card mb-4 box-shadow">
			<div class="card-header">
				<h4>{{ object.membership_type }}</h4>
			</div>
			<div class="card-body">
			{% if object.membership_type == 'Landlord' %}
				<h3 class="card-title pricing-card-title">$63 <small class="text-muted">/ mo</small></h3>
				<ul class="list-unstyled mt-3 mb-4">
					<li>Everything in free plan</li><hr>
					<li>Unlimited listing</li><hr>
					<li>Selection of qualified tenants </li><hr>
					<li>Applicants & Tenant</li><hr>
					<li>  More time in the day </li><hr>
					<li>Services</li>
				</ul>
			{% endif %}
			{% if object.membership_type == 'Lease Holder' %}
				<h3 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h3>
				<ul class="list-unstyled mt-3 mb-4">
          	        <li>Everything in free plan</li><hr>
					<li>Listing up to 50 units</li><hr>
					<li>Paperless Agreement</li><hr>
					<li>Contactless Viewing </li><hr>
					<li>Free Smart Lock </li>
				</ul>
			{% endif %}
			{% if object.membership_type == 'Free' %}
				<h3 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h3>
				<ul class="list-unstyled mt-3 mb-4">
					<li>Full service without hiring anyone</li><hr>
					<li>24/7 Customer Support</li><hr>
					<li>Security Deposit Gurantee</li><hr>
					<li>Basic listings</li><hr>
					<li>Tenant Verifications</li><hr>
					<li>Email support</li>
				</ul>
			{% endif %}

			{% if object.membership_type != 'Free' %}
				<form method="POST" action="{% url 'memberships:select' %}">
					{% csrf_token %}
					{% if object.membership_type != current_membership %}
						<button class="btn btn-lg btn-block btn-success">Select</button>
					{% else %}
						<small class="text-dark">This is your current membership</small>
					{% endif %}
					<input type="hidden" name="membership_type" value="{{ object.membership_type }}">
				</form>
			{% elif object.membership_type == 'Free' %}
				<small class="text-dark">This is your current membership</small>
			{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>



{% endblock content %}
