{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Coliving | Our pricing plan
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-6 offset-3 text-center">
            <h1>You need to upgrade membership to create new listing</h1>
            <a href="{% url 'memberships:select' %}">
                <button type="button" class="btn btn-warning">
                    Click here to upgrade membership
                </button>
            </a>
        </div>
    </div>
</div>
{% endblock content %}
