{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row py-4 px-4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Agreement - {{ object.slug }}</h1>
                </div>
            </div>
        </div>
        <ul>
            <li>Landlord's email - {{ object.landlord.email }}</li>
            <li>Landlord's name - {{ object.landlord.name }}</li>
            <li>Agreement created - {{ object.agreement_created }}</li>
            <li>Etc. more will be listed according to the agreement details created by landlord</li>
        </ul>
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                <input type="checkbox" id="agreed" name="agree" required>
                <label for="agreed">I have read the agreement and agree with it.</label><br>
                <button type="submit" class="btn btn-success">Agree</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
